<section
  class="h-screen bg-cover bg-center relative"
  style="background-image: url('/images/Artboard 1.png')"
>
  <div class="flex flex-col items-center justify-center h-full">
    <div class="w-40 sm:w-60 md:w-80">
      <img src="/images/Untitled-1.png٢٣.png" class="w-full" alt="logo wakon" />
    </div>
    <div class="absolute inset-x-0 bottom-0 text-center mb-4">
      <div class="flex flex-col items-center gap-4 mb-14">
        <h3 class="text-[#85754e] text-2xl font-bold">اسحب للاسفل</h3>
        <i
          class="fa-solid fa-arrow-down fa-2xl mt-2"
          style="color: #85754e"
        ></i>
      </div>
    </div>
  </div>
</section>

<div class="bg-[#1d1d1b] w-full h-4"></div>

<section class="bg-[#8d8061] overflow-hidden pb-10">
  <div class="grid gap-5 lg:grid-cols-[50%_1fr] min-h-screen mx-auto">
    <div class="h-full w-full">
      <img
        class="w-full h-full object-contain"
        src="/images/wakan wep home-02.png"
        alt=""
      />
    </div>

    <div
      class="z-50 flex flex-col justify-center items-center text-white px-4 md:px-10 space-y-6 md:space-y-10"
    >
      <div class="text-right py-10 px-4 md:px-10">
        <h3
          class="text-white text-2xl sm:text-3xl md:text-5xl lg:text-6xl mr-4 md:mr-8 font-bold"
        >
          وكـن للاسـتثمـار
        </h3>
        <div class="flex items-center justify-end">
          <div
            class="w-[150px] sm:w-[200px] md:w-[250px] lg:w-[400px] h-[5px] md:h-[7px] bg-black rounded-md"
            style="clip-path: polygon(100% 100%, 0 100%, 100% 0)"
          ></div>
          <div
            class="w-8 h-8 md:w-10 md:h-10 border-4 border-white rounded-full"
          ></div>
        </div>
      </div>

      <p
        class="text-base sm:text-lg md:text-xl lg:text-2xl leading-relaxed text-center"
      >
        شركة رائدة في توفير الحلول المناسبة لكل شرائح الأعمال
        <br />
        تعمل <span class="text-white font-bold">وكن</span> مع برنامج كفالة
        للمنشآت الصغيرة و المتوسطة
      </p>

      <div class="w-20 h-20 sm:w-24 sm:h-24 md:w-32 md:h-32 lg:w-40 lg:h-40">
        <img class="w-full" src="/images/lo.png" alt="" />
      </div>

      <p
        class="text-center text-xl sm:text-2xl md:text-3xl lg:text-4xl font-bold"
      >
        نتطلع لرؤيه <span class="text-black">2030</span> بكامل الارادة والعزم
      </p>

      <div class="w-24 h-24 sm:w-24 sm:h-24 md:w-32 md:h-32 lg:w-40 lg:h-40 bg-white rounded-full flex items-center justify-center overflow-hidden">
        <img class="w-3/4 h-3/4 object-contain" src="/images/Saudi_Vision_2030_logo.svg.png" alt="Logo" />
      </div>
    </div>
  </div>
</section>


<section class="py-10">
  <div class="overflow-hidden">
    <div
      class="grid gap-4 container mx-auto grid-cols-1 md:grid-cols-[55%_1fr] min-h-screen"
    >
      <div
        class="flex flex-col justify-center items-center text-center space-y-6 px-4 md:px-10"
      >
        <img
          src="/images/Untitled-1.png٢٣.png"
          class="w-40 md:w-52 mb-4"
          alt="logo wakon"
        />

        <div class="relative flex items-center justify-center text-center">
          <h4
            class="relative px-4 font-bold text-[#85754e] text-2xl sm:text-3xl md:text-4xl custom-line"
          >
            الشركات الشقيقة لوكن
          </h4>
        </div>
        <p class="text-xl font-bold text-gray-600">
          لدينا أكثر من مئة عام من الخبرة
        </p>

        <p class="text-gray-700 leading-relaxed text-lg max-w-xl">
          يتكون فريق عمل وكن من مستشارين شغلوا وظائف مرموقة في القطاع الخاص
          ولديهم خبرات استشارية متميزة قاعدة مختارة ومتميزة من العملاء تربطها
          بهم علاقات طويلة الأمد مبنية على المهنية والثقة المتبادلة . المرونة
          والافق الواسع المواكبة المتغيرات المحلية والدولية في إنجاز العمال
          والتواصل مع العملاء، تقديم أفضل خدمة من خلال التماس حاجة العملاء
          وتوفير أفضل الحلول التمويلية والاستثمارية من خلال اتفاقياتنا مع الجهات
          التمويلية البنوك - شركات التمويل التي تخدم حاجة العميل بشروط ميسرة و
          أقل هامش ربح تحتضن وكن مجموعة من الخبراء والمستشارين المتميزين
          بخبراتهم المتخصصة والمتراكمة التي تم اكتسابها من خال عملهم في أكبر
          المؤسسات المهنية العالمية والمحلية
        </p>

        <button
          class="bg-[#8d8061] text-white text-lg font-bold px-8 py-3 rounded-lg shadow-[4px_4px_15px_rgba(0,0,0,0.2)] hover:bg-[#6f654c] hover:shadow-[8px_8px_20px_rgba(0,0,0,0.3)] transition-transform transform hover:-translate-y-1 hover:scale-105 active:scale-95 focus:outline-none focus:ring-4 focus:ring-[#d1c4a7]"
        >
          تحميل بروفايل الشركة
        </button>
      </div>

      <div class="hidden md:block h-full w-full relative">
        <img
          class="w-full h-full object-cover"
          src="/images/wakan wep home-03.png"
          alt=""
        />
        <div class="absolute inset-0 bg-white opacity-10"></div>
      </div>
    </div>
  </div>
</section>
