.custom-line::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 200px;
  height: 3px;
  background-color: #000;
  right: 100%;
  margin-right: 10px;
}
.custom-line::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 200px;
  height: 3px;
  background-color: #000;
  left: 100%;
  margin-left: 10px;
}

@media (max-width: 950px) {
  .custom-line::before,
  .custom-line::after {
    width: 150px;
  }

}
@media (max-width: 640px) {
  .custom-line::before,
  .custom-line::after {
    width: 80px;
  }
  .custom-circle{
    width: 70px;
    height: 70px;
  }


  .icon-m{
    justify-content: flex-start;
    align-items: self-start;
  }
}


@media (max-width: 491px) {
  .custom-line::before,
  .custom-line::after {
    width: 0;
  }

}



@media (max-width: 768px) {
  section.relative img {
    width: 100%;
  }


}
/* styles.css */
.arabic {
  font-family: 'Tajawal', sans-serif;
  text-align: right;
}
.english {
  font-family: 'Roboto', sans-serif;
  text-align: left;
}
