.custom-color{
    background-color: #0000006f !important;
    color: #ffffff !important;
}
.custom-arr{
  background-color: #0000006f !important;
}
.arabic {
  font-family: 'Tajawal', sans-serif;

  text-align: right;
}

.english {
  font-family: 'Roboto', sans-serif;

  text-align: left;
}
