.custom-icon {
  font-size: 2rem; // الحجم الأساسي للأيقونة

  // Media Query للموبايل
  @media (max-width: 640px) {
    font-size: 16px; // حجم أصغر للأيقونة على الموبايل
  }
}
.arabic {
  font-family: 'Tajawal', sans-serif;

  text-align: right;
}

.english {
  font-family: 'Roboto', sans-serif;

  text-align: left;
}
