<section
  class="h-screen bg-cover bg-center relative"
  style="background-image: url('/images/Artboard 1.png')"
>
  <div class="flex flex-col items-center justify-center h-full">
    <div class="w-40 sm:w-60 md:w-80">
      <img src="/images/Untitled-1.png٢٣.png" class="w-full" alt="logo wakon" />
    </div>
    <div class="absolute inset-x-0 bottom-0 text-center mb-4">
      <div class="flex flex-col items-center gap-4 mb-14">
        <h3 class="text-[#85754e] text-2xl font-bold">اسحب للاسفل</h3>
        <i
          class="fa-solid fa-arrow-down fa-2xl mt-2"
          style="color: #85754e"
        ></i>
      </div>
    </div>
  </div>
</section>





<section class="w-full h-screen flex justify-center items-center bg-[#8c784a] px-4">
  <div class="relative flex justify-center items-center max-w-full max-h-full">
    <!-- الدائرة الداخلية -->
    <div class="absolute w-56 h-56 sm:w-64 sm:h-64 md:w-72 md:h-72 rounded-full border-4 border-gray-400 flex justify-center items-center">
      <h2 class="text-white text-2xl sm:text-3xl md:text-4xl font-bold">خدماتنا</h2>
    </div>

    <!-- الدائرة الخارجية -->
    <div class="w-80 h-80 sm:w-96 sm:h-96 md:w-[28rem] md:h-[28rem] rounded-full border-4 border-gray-400"></div>

    <!-- الأرقام والعناوين -->
    <div class="absolute w-full h-full flex justify-center items-center">
      <!-- رقم 1 -->
      <div class="absolute top-[15px] left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex flex-col items-center">
        <div class="w-12 h-12 rounded-full bg-black text-white flex justify-center items-center text-lg font-bold">1</div>
        <span class="text-white text-sm sm:text-lg font-semibold mt-2 text-center">إعادة الهيكلة والتنظيم</span>
      </div>

      <!-- رقم 2 -->
      <div class="absolute top-1/2 right-0 transform translate-x-1/2 -translate-y-1/2 flex flex-col items-center">
        <div class="w-12 h-12 rounded-full bg-black text-white flex justify-center items-center text-lg font-bold">2</div>
        <span class="text-white text-sm sm:text-lg font-semibold mt-2 text-right">التمويل للمشروعات</span>
      </div>

      <!-- رقم 3 -->
      <div class="absolute bottom-[-26px] left-1/2 transform -translate-x-1/2 translate-y-1/2 flex flex-col items-center">
        <div class="w-12 h-12 rounded-full bg-black text-white flex justify-center items-center text-lg font-bold">3</div>
        <span class="text-white text-sm sm:text-lg font-semibold mt-2 text-center">ترتيب عمليات الاندماج والاستحواذ</span>
      </div>

      <!-- رقم 4 -->
      <div class="absolute top-1/2 left-0 transform -translate-x-1/2 -translate-y-1/2 flex flex-col items-center">
        <div class="w-12 h-12 rounded-full bg-black text-white flex justify-center items-center text-lg font-bold">4</div>
        <span class="text-white text-sm sm:text-lg font-semibold mt-2 text-center">دراسات الجدوى الاقتصادية</span>
      </div>
    </div>
  </div>
</section>



<div class="bg-[#1d1d1b] w-full h-4 "></div>



<section class="w-full py-12 bg-white">
  <div class="container mx-auto px-4 grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
    <!-- المحتوى النصي -->
    <div class="order-2 md:order-1 text-right flex flex-col justify-center items-center">
      <h2 class="text-3xl font-bold text-[#8c784a] mb-2 relative  my-10 custom-line">
        <span class="absolute inset-0 flex justify-center items-center text-7xl text-[#e0d8b0] opacity-30">1</span>إعادة الهيكلة والتنظيم
      </h2>

      <p class=" my-4 text-2xl text-[#85754e]">نقدم حلولاً مبتكرة لإعادة الهيكلة المالية والإدارية وفق الخطوات التالية</p>
      <ul class="text-gray-600 space-y-4">
        <li class="flex items-start gap-3 flex-row-reverse relative"><span class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-2"></span><span>التوافق على الأسباب التي أدت إلى التغيير</span></li>
        <li class="flex items-start gap-3 flex-row-reverse relative"><span class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-2"></span><span>دراسة البدائل المتاحة لإعادة الهيكلة</span></li>
        <li class="flex items-start gap-3 flex-row-reverse relative"><span class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-2"></span><span>إعداد المستندات والدراسات</span></li>
        <li class="flex items-start gap-3 flex-row-reverse relative"><span class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-2"></span><span>الاشراف والمتابعة والتنسيق</span></li>
        <li class="flex items-start gap-3 flex-row-reverse relative"><span class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-2"></span><span>البدء العملية بما يحقق النتائج المرجوة بشكل مهني واحترافي</span></li>
        <li class="flex items-start gap-3 flex-row-reverse relative"><span class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-2"></span><span>الاشراف على إعداد الدراسات والمستندات</span></li>
        <li class="flex items-start gap-3 flex-row-reverse relative"><span class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-2"></span><span>تحليل النتائج وتقديم تقارير شاملة تشمل نقاط القوة والضعف والفرص والتحديات</span></li>
        <li class="flex items-start gap-3 flex-row-reverse relative"><span class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-2"></span><span>قياس درجات المخاطر المحتملة وإيجاد حلول للحد منها</span></li>
        <li class="flex items-start gap-3 flex-row-reverse relative"><span class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-2"></span><span>وضع البدائل المتاحة للتمويل و العوائد المتوقعة لكل منها</span></li>
      </ul>
    </div>
    <!-- الصورة -->
    <div class="order-1 md:order-2 flex justify-center items-center">
      <div class="relative w-full max-w-xs md:max-w-md">
        <div class="absolute inset-0 bg-gradient-to-b from-transparent to-[#e0d8b0] rounded-full opacity-30"></div>
        <img src="/images/our-services.gif" alt="Icon" class="w-full h-auto rounded-lg ">
      </div>
    </div>
  </div>
</section>



<div class="bg-[#1d1d1b] w-full h-4 "></div>

<section class="w-full py-12 bg-white">
  <div class="container mx-auto px-4 grid grid-cols-1 md:grid-cols-2 gap-8 items-center">

    <!-- الصورة على اليسار -->
    <div class="order-1 md:order-1 flex justify-center items-center">
      <div class="relative w-full max-w-xs md:max-w-md">
        <div class="absolute inset-0 bg-gradient-to-b from-transparent to-[#e0d8b0] rounded-lg opacity-30"></div>
        <img src="/images/ssssss.png" alt="Icon" class="w-full h-auto rounded-lg">
      </div>
    </div>

    <!-- المحتوى النصي في المنتصف عموديًا -->
    <div class="order-2 md:order-1 text-right flex flex-col justify-center items-center">
      <div class="flex flex-col justify-center items-center text-center">
        <div class="flex flex-col items-center justify-center text-center gap-3 my-10">
          <h2 class="text-3xl font-bold text-[#8c784a] mb-2 relative my-10 custom-line">
            <span class="absolute inset-0 flex justify-center items-center text-7xl text-[#e0d8b0] opacity-30">2</span>
            التمويل للمشروعات
          </h2>
        </div>

        <p class="text-gray-700 leading-relaxed text-center">
          تحديد الاحتياجات التمويلية المناسبة لإنشاء أو تنمية المشروع، تحديد المصادر التمويلية المناسبة واختيار الأفضل
          لجلب مصادر التمويل بأقل التكاليف الاستثمارية وتمويلها بصورة تتوافق مع طبيعة المشروع مما يساعد في تمويله بنجاح.
          تتضمن خدمات التمويل تقييم المشاريع، إعداد دراسات الجدوى، وتقديم توصيات حول التمويل المناسب.
        </p>
      </div>
    </div>


  </div>
</section>


<div class="bg-[#1d1d1b] w-full h-4 "></div>



<section class="w-full py-12 bg-white">
  <div class="container mx-auto px-4 grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
    <!-- المحتوى النصي -->
    <div class="order-2 md:order-1 text-right flex flex-col justify-center items-center">
      <h2 class="text-3xl font-bold text-[#8c784a] mb-2 relative  my-10 custom-line">
        <span class="absolute inset-0 flex justify-center items-center text-7xl text-[#e0d8b0] opacity-30">3</span>ترتيب عمليات الاندماج والاستحواذ
      </h2>

      <p class=" my-4 text-2xl text-[#85754e]">
      نساعد المستثمرين وأصحاب القرار في تحديد أولوياتهم واحتياجاتهم فيما يخص عمليات الاندماج والاستحواذ من خلال
      </p>

      <ul class="text-gray-600 space-y-4">
        <li class="flex items-start gap-3 flex-row-reverse relative">
          <span class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-2"></span>
          <span>وضع وتنفيذ استراتيجية الاندماج والاستحواذ</span>
        </li>
        <li class="flex items-start gap-3 flex-row-reverse relative">
          <span class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-2"></span>
          <span>إعداد المستندات والدراسات</span>
        </li>
        <li class="flex items-start gap-3 flex-row-reverse relative">
          <span class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-2"></span>
          <span>الإشراف والمتابعة والتنسيق</span>
        </li>
        <li class="flex items-start gap-3 flex-row-reverse relative">
          <span class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-2"></span>
          <span>تقديم المشورة ذات القيمة القانونية</span>
        </li>
        <li class="flex items-start gap-3 flex-row-reverse relative">
          <span class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-2"></span>
          <span>إكمال العملية بما يحقق النتائج المرجوة بشكل مهني واحترافي</span>
        </li>
      </ul>
    </div>

    <!-- الصورة -->
    <div class="order-1 md:order-2 flex justify-center items-center">
      <div class="relative w-full max-w-xs md:max-w-md">
        <div class="absolute inset-0 bg-gradient-to-b from-transparent to-[#e0d8b0] rounded-full opacity-30"></div>
        <img src="/images/333333z.png" alt="Icon" class="w-full h-auto rounded-lg">
      </div>
    </div>
  </div>
</section>







<div class="bg-[#1d1d1b] w-full h-4 "></div>




<section class="w-full py-12 bg-white">
  <div class="container mx-auto px-4 grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
    <!-- الصورة -->
    <div class="order-1 flex justify-center items-center">
      <div class="relative w-full max-w-xs md:max-w-md">
        <div class="absolute inset-0 bg-gradient-to-b from-transparent to-[#e0d8b0] rounded-full opacity-30"></div>
        <img src="/images/Asset 4.png" alt="Icon" class="w-full h-auto rounded-lg">
      </div>
    </div>

    <!-- المحتوى النصي -->
    <div class="order-2 text-right flex flex-col justify-center items-center">
      <h2 class="text-3xl font-bold text-[#8c784a] mb-2 relative my-10 custom-line">
        <span class="absolute inset-0 flex justify-center items-center text-7xl text-[#e0d8b0] opacity-30">4</span>دراسات الجدوى الاقتصادية
      </h2>

      <p class=" my-4 text-2xl text-[#85754e]">
        نعتمد الدقة عند قيامنا بإعداد دراسات الجدوى الاقتصادية من خلال:
      </p>

      <ul class="text-gray-600 space-y-4">
        <li class="flex items-start gap-3 flex-row-reverse relative">
          <span class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-2"></span>
          <span>الإشراف على إعداد الدراسات السوقية والفنية</span>
        </li>
        <li class="flex items-start gap-3 flex-row-reverse relative">
          <span class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-2"></span>
          <span>دراسة المشروع من كافة جوانبه وتحليل نقاط القوة والضعف والفرص والتحديات</span>
        </li>
        <li class="flex items-start gap-3 flex-row-reverse relative">
          <span class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-2"></span>
          <span>قياس درجة المخاطر المحيطة بالمشروع وكيفية التخفيف منها</span>
        </li>
        <li class="flex items-start gap-3 flex-row-reverse relative">
          <span class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-2"></span>
          <span>وضع البدائل المتاحة للتمويل و العوائد المتوقعة لكل بديل</span>
        </li>
        <li class="flex items-start gap-3 flex-row-reverse relative">
          <span class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-2"></span>
          <span>الخروج بالنتائج دراسة الجدوى والمؤشرات المالية وتحليل الحساسية</span>
        </li>
      </ul>
    </div>
  </div>
</section>


<div class="bg-[#1d1d1b] w-full h-4 "></div>
