<section [ngClass]="{'arabic': translate.currentLang === 'ar', 'english': translate.currentLang === 'en'}"
  class="h-screen bg-cover bg-center relative"
  style="background-image: url('/images/Artboard 1.png')"
>
  <div class="flex flex-col items-center justify-center h-full">
    <div class="w-40 sm:w-60 md:w-80">
      <img src="/images/Untitled-1.png٢٣.png" class="w-full" alt="logo wakon" />
    </div>
    <div class="absolute inset-x-0 bottom-0 text-center mb-4">
      <div class="flex flex-col items-center gap-4 mb-14">
        <h3 class="text-[#85754e] text-2xl font-bold"> {{'aboutUsPage.scroll_down' | translate }}</h3>
        <i
          class="fa-solid fa-arrow-down fa-2xl mt-2"
          style="color: #85754e"
        ></i>
      </div>
    </div>
  </div>
</section>

<section [ngClass]="{'arabic': translate.currentLang === 'ar', 'english': translate.currentLang === 'en'}"
  class="w-full h-screen flex justify-center items-center bg-[#8c784a] px-4"
>
  <div class="relative flex justify-center items-center max-w-full max-h-full">
    <div
      class="absolute w-48 h-48 sm:w-64 sm:h-64 md:w-72 md:h-72 rounded-full border-4 border-gray-400 flex justify-center items-center"
    >
      <h2 class="text-white text-xl sm:text-3xl md:text-4xl font-bold">
        {{'servicesPage.services' | translate}}
      </h2>
    </div>

    <div
      class="w-64 h-64 sm:w-96 sm:h-96 md:w-[28rem] md:h-[28rem] rounded-full border-4 border-gray-400"
    ></div>

    <div class="absolute w-full h-full flex justify-center items-center">
      <div
        class="absolute top-[15px] left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex flex-col items-center"
      >
        <div
          class="w-10 h-10 sm:w-12 sm:h-12 rounded-full bg-black text-white flex justify-center items-center text-base sm:text-lg font-bold"
        >
          1
        </div>
        <span
          class="text-white text-xs sm:text-lg font-semibold mt-1 text-center">
          {{'servicesPage.restructuring' | translate}}
              </span
        >
      </div>

      <div
        class="absolute top-1/2 right-0 transform translate-x-1/2 -translate-y-1/2 flex flex-col items-center"
      >
        <div
          class="w-10 h-10 sm:w-12 sm:h-12 rounded-full bg-black text-white flex justify-center items-center text-base sm:text-lg font-bold"
        >
          2
        </div>
        <span
          class="text-white text-xs sm:text-lg font-semibold mt-1 text-right"
          >
          {{'servicesPage.projectFinancing' | translate}}
           </span
        >
      </div>

      <div
        class="absolute bottom-[-20px] left-1/2 transform -translate-x-1/2 translate-y-1/2 flex flex-col items-center"
      >
        <div
          class="w-10 h-10 sm:w-12 sm:h-12 rounded-full bg-black text-white flex justify-center items-center text-base sm:text-lg font-bold"
        >
          3
        </div>
        <span
          class="text-white text-xs sm:text-lg font-semibold mt-1 text-center">

          {{'servicesPage.mergersAcquisitions' | translate}}
          </span
        >
      </div>

      <div
        class="absolute top-1/2 left-0 transform -translate-x-1/2 -translate-y-1/2 flex flex-col items-center"
      >
        <div
          class="w-10 h-10 sm:w-12 sm:h-12 rounded-full bg-black text-white flex justify-center items-center text-base sm:text-lg font-bold"
        >
          4
        </div>
        <span
          class="text-white text-xs sm:text-lg font-semibold mt-1 text-center"
          >  {{'servicesPage.feasibilityStudies' | translate}} </span
        >
      </div>
    </div>
  </div>
</section>



<section class="w-full py-12 bg-white overflow-hidden" [ngClass]="{'arabic': translate.currentLang === 'ar', 'english': translate.currentLang === 'en'}">
  <div
    class="container mx-auto px-4 grid grid-cols-1 md:grid-cols-2 gap-8 items-center"
  >
    <div
      class="order-2 md:order-1 text-right flex flex-col justify-center items-center"
    >
      <h2
        class="text-3xl font-bold text-[#8c784a] mb-2 relative my-10 custom-line text-center"
      >
        <span
          class="absolute inset-0 flex justify-center items-center text-7xl text-[#e0d8b0] opacity-30"
          >1</span
        > {{'servicesPage.restructuringSer.title' | translate}}
      </h2>

      <p class="my-4 text-xl text-[#85754e]">{{'servicesPage.restructuringSer.description' | translate}}</p>
      <ul class="text-gray-600 space-y-4  ">
        <li class="flex items-start gap-3 flex-row-reverse relative">
          <span
            class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-1"
          ></span
          ><span>
            {{'servicesPage.restructuringSer.steps.assessment' | translate}}
          </span>
        </li>
        <li class="flex items-start gap-3 flex-row-reverse relative">
          <span
            class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-1"
          ></span
          ><span> {{'servicesPage.restructuringSer.steps.restructuring_options' | translate}}
          </span>
        </li>
        <li class="flex items-start gap-3 flex-row-reverse relative">
          <span
            class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-1"
          ></span
          ><span> {{'servicesPage.restructuringSer.steps.documentation' | translate}} </span>
        </li>
        <li class="flex items-start gap-3 flex-row-reverse relative">
          <span
            class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-1"
          ></span
          ><span>{{'servicesPage.restructuringSer.steps.supervision' | translate}}  </span>
        </li>
        <li class="flex items-start gap-3 flex-row-reverse relative">
          <span
            class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-1"
          ></span
          ><span
            >     {{'servicesPage.restructuringSer.steps.consultation' | translate}}    </span
          >
        </li>
        <li class="flex items-start gap-3 flex-row-reverse relative">
          <span
            class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-1"
          ></span
          ><span> {{'servicesPage.restructuringSer.steps.completion' | translate}}      </span>
        </li>
        <li class="flex items-start gap-3 flex-row-reverse relative">
          <span
            class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-1"
          ></span
          ><span> {{'servicesPage.restructuringSer.steps.market_studies' | translate}}
            </span
          >
        </li>
        <li class="flex items-start gap-3 flex-row-reverse relative">
          <span
            class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-1"
          ></span
          ><span>  {{'servicesPage.restructuringSer.steps.transaction_analysis' | translate}}     </span>
        </li>
        <li class="flex items-start gap-3 flex-row-reverse relative">
          <span
            class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-1"
          ></span
          ><span>  {{'servicesPage.restructuringSer.steps.risk_assessment' | translate}}     </span>
        </li>
        <li class="flex items-start gap-3 flex-row-reverse relative">
          <span
            class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-1"
          ></span
          ><span>  {{'servicesPage.restructuringSer.steps.funding_options' | translate}}     </span>
        </li>

      </ul>
    </div>

    <div class="order-1 md:order-2 flex justify-center items-center">
      <div class="relative w-full max-w-xs md:max-w-md">
        <div
          class="absolute inset-0 bg-gradient-to-b from-transparent to-[#e0d8b0] rounded-full opacity-30"
        ></div>
        <img
          src="/images/1.png"
          alt="Icon"
          class="w-full h-auto rounded-lg"
        />
      </div>
    </div>
  </div>
</section>



<section class="w-full py-12 bg-white overflow-hidden" [ngClass]="{'arabic': translate.currentLang === 'ar', 'english': translate.currentLang === 'en'}">
  <div
    class="container mx-auto px-4 grid grid-cols-1 md:grid-cols-2 gap-8 items-center justify-center"
  >
    <div class="order-1 md:order-1 flex justify-center items-center">
      <div class="relative w-full max-w-xs md:max-w-md">
        <div
          class="absolute inset-0 bg-gradient-to-b from-transparent to-[#e0d8b0] rounded-lg opacity-30"
        ></div>
        <img
          src="./images/2.png"
          alt="Icon"
          class="w-full h-auto rounded-lg"
        />
      </div>
    </div>

    <div
      class="order-2 md:order-1 text-right flex flex-col justify-center items-center"
    >
      <div class="flex flex-col justify-center items-center text-center">
        <div
          class="flex flex-col items-center justify-center text-center gap-3 my-10"
        >
          <h2
            class="text-3xl font-bold text-[#8c784a] mb-2 relative my-10 custom-line text-center"
          >
            <span
              class="absolute inset-0 flex justify-center items-center text-7xl text-[#e0d8b0] opacity-30"
              >2</span
            >
            {{'servicesPage.restructuringSer.projectFinancing.title' | translate}}
          </h2>
        </div>

        <p class="text-gray-700 leading-relaxed text-justify">
          {{'servicesPage.restructuringSer.projectFinancing.description' | translate}}

           </p>
      </div>
    </div>
  </div>
</section>



<section class="w-full py-12 bg-white overflow-hidden" [ngClass]="{'arabic': translate.currentLang === 'ar', 'english': translate.currentLang === 'en'}">
  <div
    class="container mx-auto px-4 grid grid-cols-1 md:grid-cols-2 gap-8 items-center"
  >
    <div
      class="order-2 md:order-1 text-right flex flex-col justify-center items-center"
    >
      <h2
        class="text-3xl font-bold text-[#8c784a] mb-2 relative my-10 custom-line text-center"
      >
        <span
          class="absolute inset-0 flex justify-center items-center text-7xl text-[#e0d8b0] opacity-30"
          >3</span
        > {{'servicesPage.restructuringSer.mergersAcquisitions.title' | translate}}
      </h2>

      <p class="my-4  text-xl text-[#85754e]">
        {{'servicesPage.restructuringSer.mergersAcquisitions.description' | translate}}
      </p>

      <ul class="text-gray-600 space-y-4">
        <li class="flex items-start gap-3 flex-row-reverse relative">
          <span
            class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-1"
          ></span>
          <span>{{'servicesPage.restructuringSer.mergersAcquisitions.steps.strategy' | translate}}</span>
        </li>
        <li class="flex items-start gap-3 flex-row-reverse relative">
          <span
            class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-1"
          ></span>
          <span>  {{'servicesPage.restructuringSer.mergersAcquisitions.steps.documents' | translate}}</span>
        </li>
        <li class="flex items-start gap-3 flex-row-reverse relative">
          <span
            class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-1"
          ></span>
          <span> {{'servicesPage.restructuringSer.mergersAcquisitions.steps.supervision' | translate}}  </span>
        </li>
        <li class="flex items-start gap-3 flex-row-reverse relative">
          <span
            class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-1"
          ></span>
          <span>{{'servicesPage.restructuringSer.mergersAcquisitions.steps.legalAdvice' | translate}}     </span>
        </li>
        <li class="flex items-start gap-3 flex-row-reverse relative">
          <span
            class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-1"
          ></span>
          <span> {{'servicesPage.restructuringSer.mergersAcquisitions.steps.execution' | translate}}         </span>
        </li>
      </ul>
    </div>

    <div class="order-1 md:order-2 flex justify-center items-center">
      <div class="relative w-full max-w-xs md:max-w-md">
        <div
          class="absolute inset-0 bg-gradient-to-b from-transparent to-[#e0d8b0] rounded-full opacity-30"
        ></div>
        <img
          src="./images/3.png"
          alt="Icon"
          class="w-full h-auto rounded-lg"
        />
      </div>
    </div>
  </div>
</section>


<section class="w-full py-12 bg-white overflow-hidden" [ngClass]="{'arabic': translate.currentLang === 'ar', 'english': translate.currentLang === 'en'}">
  <div
    class="container mx-auto px-4 grid grid-cols-1 md:grid-cols-2 gap-8 items-center justify-center"
  >
    <!-- الصورة -->
    <div class="order-1 flex justify-center items-center">
      <div class="relative w-full max-w-xs md:max-w-md">
        <div
          class="absolute inset-0 bg-gradient-to-b from-transparent to-[#e0d8b0] rounded-full opacity-30"
        ></div>
        <img
          src="./images/4.png"
          alt="Icon"
          class="w-full h-auto rounded-lg"
        />
      </div>
    </div>

    <div class="order-2 text-right flex flex-col justify-center items-center">
      <h2
        class="text-3xl font-bold text-[#8c784a] mb-2 relative my-10 custom-line text-center"
      >
        <span
          class="absolute inset-0 flex justify-center items-center text-7xl text-[#e0d8b0] opacity-30"
          >4</span
        > {{'servicesPage.restructuringSer.feasibilityStudies.title' | translate}}
      </h2>

      <p class="my-4 text-2xl text-[#85754e]"> {{'servicesPage.restructuringSer.feasibilityStudies.description' | translate}} </p>

      <ul class="text-gray-600 space-y-4">
        <li class="flex items-start gap-3 flex-row-reverse relative">
          <span
            class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-1"
          ></span>
          <span>{{'servicesPage.restructuringSer.feasibilityStudies.steps.marketStudies' | translate}}      </span>
        </li>
        <li class="flex items-start gap-3 flex-row-reverse relative">
          <span
            class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-1"
          ></span>
          <span> {{'servicesPage.restructuringSer.feasibilityStudies.steps.projectAnalysis' | translate}}  </span
          >
        </li>
        <li class="flex items-start gap-3 flex-row-reverse relative">
          <span
            class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-1"
          ></span>
          <span>{{'servicesPage.restructuringSer.feasibilityStudies.steps.riskAssessment' | translate}}       </span>
        </li>
        <li class="flex items-start gap-3 flex-row-reverse relative">
          <span
            class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-1"
          ></span>
          <span>{{'servicesPage.restructuringSer.feasibilityStudies.steps.financingAlternatives' | translate}}         </span>
        </li>
        <li class="flex items-start gap-3 flex-row-reverse relative">
          <span
            class="w-5 h-5 rounded-full bg-gray-500 flex-shrink-0 absolute right-0 top-0 opacity-30 translate-x-2 translate-y-1"
          ></span>
          <span
            >{{'servicesPage.restructuringSer.feasibilityStudies.steps.financialIndicators' | translate}}
            </span
          >
        </li>
      </ul>
    </div>
  </div>
</section>
