<section
  class="h-screen bg-cover bg-center relative"
  style="background-image: url('/images/Artboard 1.png')"
>
  <div class="flex flex-col items-center justify-center h-full">
    <div class="w-40 sm:w-60 md:w-80">
      <img src="/images/Untitled-1.png٢٣.png" class="w-full" alt="logo wakon" />
    </div>
    <div class="absolute inset-x-0 bottom-0 text-center mb-4">
      <div class="flex flex-col items-center gap-4 mb-14">
        <h3 class="text-[#85754e] text-2xl font-bold">اسحب للاسفل</h3>
        <i
          class="fa-solid fa-arrow-down fa-2xl mt-2"
          style="color: #85754e"
        ></i>
      </div>
    </div>
  </div>
</section>


<div class="bg-[#1d1d1b] w-full h-4"></div>

<section class="py-10 flex flex-col items-center">
  <!-- أيقونة الهاتف -->
  <div class="my-10 w-24 h-24 flex items-center justify-center rounded-full border-2 border-gray-300 hover:border-[#85754e] transition duration-300 shadow-lg hover:shadow-xl">
    <i class="fa-solid fa-phone text-4xl text-[#85754e] hover:scale-110 transition duration-300"></i>
  </div>

  <!-- عنوان تواصل معنا -->
  <div class="relative flex items-center justify-center text-center">
    <h4 class="relative px-4 font-extrabold text-3xl sm:text-4xl md:text-5xl text-gray-800 custom-line tracking-wide">
      تـواصـل مـعـنـا
    </h4>
  </div>

  <!-- أرقام التواصل -->
  <div class="mt-6 text-center text-[#85754e] text-xl sm:text-2xl md:text-3xl font-bold flex flex-col sm:flex-row gap-4 sm:gap-8">
    <span class="hover:text-[#6f654c] transition duration-300">+966-11-2110059</span>
    <span class="hidden sm:inline-block text-gray-500">|</span>
    <span class="hover:text-[#6f654c] transition duration-300">+966-11-2110131</span>
  </div>

  <!-- أيقونات التواصل الاجتماعي -->
  <div class="mt-8 flex justify-center gap-8">
    <!-- Instagram -->
    <a href="#" class="w-20 h-20 flex items-center justify-center rounded-full border-2 border-gray-300 hover:border-[#85754e] transition duration-300 shadow-lg hover:shadow-xl transform hover:scale-110">
      <i class="fa-brands fa-instagram text-4xl text-gray-800 hover:text-[#85754e] transition duration-300"></i>
    </a>
    <!-- Twitter -->
    <a href="#" class="w-20 h-20 flex items-center justify-center rounded-full border-2 border-gray-300 hover:border-[#85754e] transition duration-300 shadow-lg hover:shadow-xl transform hover:scale-110">
      <i class="fa-brands fa-x-twitter text-4xl text-gray-800 hover:text-[#85754e] transition duration-300"></i>
    </a>
    <!-- Google Plus -->
    <a href="#" class="w-20 h-20 flex items-center justify-center rounded-full border-2 border-gray-300 hover:border-[#85754e] transition duration-300 shadow-lg hover:shadow-xl transform hover:scale-110">
      <i class="fa-brands fa-google-plus-g text-4xl text-gray-800 hover:text-[#85754e] transition duration-300"></i>
    </a>
  </div>
</section>


