<section class="relative">
  <div class="w-full">
    <img class="w-full h-auto" src="/images/home.png" alt="" srcset="" />
  </div>
</section>



<section class="bg-[#8d8061] overflow-hidden pb-10">
  <div class="grid gap-5 lg:grid-cols-[50%_1fr] min-h-screen mx-auto">
    <div class="h-full w-full">
      <img
        class="w-full h-full object-contain"
        src="/images/wakan wep home-02.png"
        alt=""
      />
    </div>

    <div
      class="z-50 flex flex-col justify-center items-center text-white px-4 md:px-10 space-y-6 md:space-y-10"
    >
      <div class="text-right py-10 px-4 md:px-10">
        <h3
          class="text-white text-2xl sm:text-3xl md:text-5xl lg:text-6xl mr-4 md:mr-8 font-bold"
        >
          {{ 'home.hero.title' | translate }}
        </h3>
        <div class="flex items-center justify-end">
          <div
            class="w-[150px] sm:w-[200px] md:w-[250px] lg:w-[400px] h-[5px] md:h-[7px] bg-black rounded-md"
            style="clip-path: polygon(100% 100%, 0 100%, 100% 0)"
          ></div>
          <div
            class="w-8 h-8 md:w-10 md:h-10 border-4 border-white rounded-full"
          ></div>
        </div>
      </div>

      <p
        class="text-base sm:text-lg md:text-xl lg:text-2xl leading-relaxed text-center">
        {{ 'home.hero.subtitle' | translate }}
        <br />
        {{ 'home.hero.partnership' | translate }}
      </p>

      <div class="w-24 h-24 sm:w-24 sm:h-24 md:w-32 md:h-32 lg:w-40 lg:h-40">
        <img class="w-full" src="/images/lo.png" alt="" />
      </div>

      <p
        class="text-center text-xl sm:text-2xl md:text-3xl lg:text-4xl font-bold"
      >
         {{'home.vision.title' | translate}} <span class="text-black">2030</span> {{'home.vision.subtitle' | translate}}
      </p>

      <div class="w-24 h-24 sm:w-24 sm:h-24 md:w-32 md:h-32 lg:w-40 lg:h-40 bg-white rounded-full flex items-center justify-center overflow-hidden">
        <img class="w-3/4 h-3/4 object-contain" src="/images/Saudi_Vision_2030_logo.svg.png" alt="Logo" />
      </div>

    </div>
  </div>
</section>



<section class="py-10">
  <div class="overflow-hidden">
    <div
      class="grid gap-4 container mx-auto grid-cols-1 md:grid-cols-[55%_1fr] min-h-screen"
    >
      <div class="flex justify-center items-center mt-10">
        <div
          class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-4 gap-8 pb-10 z-50"
        >
          <div
            class="group flex flex-col items-center text-gray-400 hover:text-[#8d8061] transition mx-1"
          >
            <div
              class="w-20 h-20 sm:w-24 sm:h-24 custom-circle flex items-center justify-center rounded-full border-2 border-gray-400 hover:border-slate-900 transition"
            >
              <i class="fa-solid fa-cog text-2xl sm:fa-2xl"></i>
            </div>
            <div
              class="w-4 h-4 bg-gray-400 rounded-full mt-2 group-hover:bg-slate-900 transition"
            ></div>
            <p class="mt-2 text-sm sm:text-lg font-bold">{{'home.services' | translate}}</p>
          </div>

          <div
            class="group flex flex-col items-center text-gray-400 hover:text-[#8d8061] transition mx-4"
          >
            <div
              class="w-20 h-20 sm:w-24 sm:h-24 custom-circle flex items-center justify-center rounded-full border-2 border-gray-400 hover:border-slate-900 transition"
            >
              <i class="fa-solid fa-chart-line text-2xl sm:fa-2xl"></i>
            </div>
            <div
              class="w-4 h-4 bg-gray-400 rounded-full mt-2 group-hover:bg-slate-900 transition"
            ></div>
            <p class="mt-2 text-sm sm:text-lg font-bold">{{'home.strategy' | translate}}</p>
          </div>

          <div
            class="group flex flex-col items-center text-gray-400 hover:text-[#8d8061] transition mx-4"
          >
            <div
              class="w-20 h-20 sm:w-24 sm:h-24 custom-circle flex items-center justify-center rounded-full border-2 border-gray-400 hover:border-slate-900 transition"
            >
              <i class="fa-solid fa-user-tie text-2xl sm:fa-2xl"></i>
            </div>
            <div
              class="w-4 h-4 bg-gray-400 rounded-full mt-2 group-hover:bg-slate-900 transition"
            ></div>
            <p class="mt-2 text-sm sm:text-lg font-bold">{{'home.projects' | translate}}</p>
          </div>

          <div
            class="group flex flex-col items-center text-gray-400 hover:text-[#8d8061] transition mx-4"
          >
            <div
              class="w-20 h-20 sm:w-24 sm:h-24 custom-circle flex items-center justify-center rounded-full border-2 border-gray-400 hover:border-slate-900 transition"
            >
              <i class="fa-solid fa-phone text-2xl sm:fa-2xl"></i>
            </div>
            <div
              class="w-4 h-4 bg-gray-400 rounded-full mt-2 group-hover:bg-slate-900 transition"
            ></div>
            <p class="mt-2 text-sm sm:text-lg font-bold">{{'home.contact.title' | translate}} </p>
          </div>
        </div>
      </div>

      <div class="h-full w-full">
        <img
          class="w-full h-full object-contain"
          src="/images/wakan wep home-03.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>



<section class="py-10 md:py-20">
  <div class="flex flex-col items-center gap-5 px-4 md:px-8 lg:px-20">
    <div class="w-32 sm:w-44">
      <img src="/images/Untitled-1.png٢٣.png" class="w-full" alt="logo wakon" />
    </div>

    <div class="relative flex items-center justify-center text-center">
      <h4
        class="relative px-4 font-bold text-[#85754e] text-2xl sm:text-3xl md:text-4xl custom-line"
      >
        {{'home.sister_companies.title' | translate}}
      </h4>
    </div>

    <div
      class="text-xl sm:text-2xl md:text-3xl lg:text-4xl text-center leading-relaxed"
    >
      {{'home.sister_companies.instruction' | translate}}
    </div>
  </div>

  <div class="py-10 md:py-16">
    <div class="flex justify-center items-center pt-10 pb-5">
      <img
        class="border-2 border-gray-300 rounded-lg w-32 sm:w-44 md:w-52 lg:w-60 transition-transform hover:scale-105"
        src="/images/img57.jpg"
        alt="logo"
      />
    </div>

    <div class="flex justify-center">
      <a

        class="px-8 sm:px-10 py-2 sm:py-3 text-black text-xl sm:text-2xl bg-[#a0947c]/80 rounded-lg font-bold hover:bg-[#85754e] transition-all duration-300"
      >
        {{'home.sister_companies.button' | translate}}
      </a>
    </div>
  </div>
</section>

