<section class="w-full py-20 flex justify-center items-center im-bg">
  <div
    class="grid gap-8 container mx-auto md:grid-cols-2 lg:grid-cols-[49%_39%_1fr]"
  >
    <div class="p-4 w-full max-w-5xl flex flex-col gap-7">
      <div
        class="flex flex-col items-center bg-[#a0947c]/80 shadow-lg rounded-lg gap-4 p-4"
      >
        <div class="w-36 sm:w-44 pt-2">
          <img
            src="/images/Untitled-1.png٢٣.png"
            class="w-full"
            alt="logo wakon"
          />
        </div>
        <div class="text-white text-xl sm:text-2xl font-bold text-center">
          {{'footer.location' | translate }}
        </div>
        <div class="mb-5">
          <i
            class="fa-solid fa-arrow-down fa-2xl mt-2"
            style="color: #ffffff"
          ></i>
        </div>
      </div>

      <div class="w-full bg-[#a0947c]/80 shadow-lg rounded-lg p-4">
        <iframe
          class="w-full h-56 sm:h-64 md:h-80 rounded-lg"
          src="https://maps.google.com/maps?q=Riyadh&t=&z=13&ie=UTF8&iwloc=&output=embed"
        ></iframe>
      </div>
    </div>

    <div class="p-4">
      <div class="flex flex-col items-center gap-4 mb-10">
        <h3 class="text-white text-2xl font-bold">
          {{'footer.contact' | translate }}
           </h3>
        <i
          class="fa-solid fa-arrow-down fa-2xl mt-2"
          style="color: #ffffff"
        ></i>
      </div>

      <div class="space-y-4">
        <div>
          <input
            type="text"
            placeholder="{{'form.name' | translate }} "
            class="w-full text-right p-3 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-black"
          />
        </div>

        <div>
          <input
            type="email"
            placeholder="{{'form.email' | translate }} "
            class="w-full text-right p-3 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-black"
          />
        </div>

        <div>
          <input
            type="tel"
            placeholder=" {{'form.phone' | translate }} "
            class="w-full text-right p-3 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-black"
          />
        </div>

        <div>
          <textarea
            rows="4"
            placeholder=" {{'form.message' | translate }}"
            class="w-full text-right p-3 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-black"
          ></textarea>
        </div>

        <button

          class="w-full bg-black text-white p-3 rounded-lg shadow-md hover:shadow-xl hover:scale-105 hover:bg-gray-800 transition-all duration-300 ease-in-out"
        >
        {{'form.send' | translate }}
        </button>
      </div>
    </div>

    <div
      class="flex flex-row md:flex-row lg:flex-col items-center justify-center gap-6"
    >
      <div
        class="group w-16 h-16 border-2 rounded-full flex items-center justify-center border-[#fff] bg-white/10 backdrop-blur-md hover:bg-white hover:scale-110 hover:rotate-12 transition-all duration-300 shadow-md hover:shadow-xl"
      >
        <i
          class="fa-brands fa-google-plus-g text-white group-hover:text-[#a0947c] text-3xl transition-all duration-300"
        ></i>
      </div>
      <div
        class="group w-16 h-16 border-2 rounded-full flex items-center justify-center border-[#fff] bg-white/10 backdrop-blur-md hover:bg-white hover:scale-110 hover:rotate-12 transition-all duration-300 shadow-md hover:shadow-xl"
      >
        <i
          class="fa-brands fa-x-twitter text-white group-hover:text-[#a0947c] text-3xl transition-all duration-300"
        ></i>
      </div>
      <div
        class="group w-16 h-16 border-2 rounded-full flex items-center justify-center border-[#fff] bg-white/10 backdrop-blur-md hover:bg-white hover:scale-110 hover:rotate-12 transition-all duration-300 shadow-md hover:shadow-xl"
      >
        <i
          class="fa-brands fa-instagram text-white group-hover:text-[#a0947c] text-3xl transition-all duration-300"
        ></i>
      </div>
    </div>
  </div>
</section>
