.im-bg{
  background-image: url('/images/wakan wep home-05.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.arabic {
  font-family: 'Tajawal', sans-serif;

  text-align: right;
}

.english {
  font-family: 'Roboto', sans-serif;

  text-align: left;
}
